@keyframes squiggle {
  0% { transform: translate(0, 0); }
  25% { transform: translate(5px, 5px); }
  50% { transform: translate(-5px, -5px); }
  75% { transform: translate(-5px, 5px); }
  100% { transform: translate(5px, -5px); }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('assets/g.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(0.2px); 
  opacity: 10;
  animation: squiggle 20s ease-in-out infinite; 
}
#act3jscene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(0.2px);
  opacity: 0.7;
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
}

canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.about-section {
  background-color: transparent;
  padding: 20px;
  margin: 20px; 
  border-radius: 10px;
  position: relative; 
  top: 0; 
  left: 0; 
  z-index: 1000;
  user-select: none;
}

.about-section h2 {
  color: #eeee8e;
  font-size: 34px; 
  margin-bottom: 10px; 
  text-shadow: 0 0 10px rgba(213, 211, 54, 1); 
  
}

.about-section p1 {
  color: #5ba13f;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
  text-transform: uppercase;
  letter-spacing: 1px;
  /*Glow effect*/
  text-shadow: 0 0 10px rgba(91, 161, 63, 0.8); 
}

.about-section p {
  color: #5badad;
  font-size: 18px; 
  font-weight: 500;
  font-style: oblique;
  line-height: 2; 
  text-shadow: 0 0 10px rgba(98, 146, 79, 0.8);
}
.about-section li {
  color: rgba(127, 255, 212, 0.816);
  text-shadow: 0 0 10px rgba(25, 161, 179, 0.592);
}

.about-section a {
  color: #19a1b3;
  font-size: 16px; 
  font-weight: 500;
  font-style: oblique;
  line-height: 2; 
  text-shadow: 0 0 10px rgba(25, 161, 179, 0.8);
}

/* horizontal links */
.links-container {
  position: absolute;
  bottom: -300px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center; 
  padding: 10px 0;
}

.links-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; 
}

.links-container li {
  margin: 0 10px;
}

.links-container a {
  color: #2b9660;
  text-decoration: none;
}

.links-container a:hover {
  text-decoration: underline;
}

.image-container {
  position: absolute;
  top: 465px;
  right: 30px;
  user-select: none;
  animation: squiggle 20s ease-in-out infinite;
}
.image-container:hover {
  transform: translate(-50%, -50%) rotate(10deg);
}

.glow-image {
  width: 100px; 
  height: auto;  
}


.content {
  text-align: right;
  color: white;
  position: relative;
}

blockquote {
  margin: 0;
  padding: 0;
  position: relative;
}
